// Contact Form

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

// Colors
$lightGreen: hsl(148, 38%, 91%);
$mediumGreen: hsl(169, 82%, 27%);
$white: hsl(0, 0%, 100%);
$mediumGrey: hsl(186, 15%, 59%);
$darkGrey: hsl(187, 24%, 22%);

body {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background-color: $lightGreen;
}

// Main Content
.form {
  color: $darkGrey;
  width: min(700px, 95vw);
  padding: 2.5rem;
  background-color: $white;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;

  .title {
    font-size: 1.625rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
  }

  input,
  textarea {
    padding: 1rem;
    border: 1px solid $darkGrey;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-top: 0.4rem;
    resize: none;
  }

  .row {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    padding: 1.5rem 0;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-basis: 100%;
      gap: 0.25rem;

      p {
        margin-bottom: 0.4rem;
      }

      .box {
        font-weight: 500;
        color: $darkGrey;
        display: flex;
        gap: 0.5rem;
        padding: 1rem;
        border: 1px solid $darkGrey;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;

        input {
          margin: 0;
        }
      }
    }
  }

  #email,
  #message {
    display: block;
    width: 100%;
  }

  #checkbox {
    margin: 2.1rem 0;
  }

  .btn {
    width: 100%;
    background-color: $mediumGreen;
    color: $white;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    font-size: 0.975rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}

// For Mobile
@media screen and (max-width: 624px) {
  .form {
    padding: 1.5rem;
    width: 100vw;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .row {
    flex-direction: column;
  }
}
